venv
.idea
.coverage
htmlcov/
*.pyc
*.nl
*.lp
*.ipynb_checkpoints
gym_anm/rendering/logs/
gym_anm.egg-info/
gym_anm/envs/anm6_env/rendering/logs/*.log
dist/
build/
old/
paper/
.DS_Store
gym_anm/.DS_Store
gym_anm/envs/anm6_env/rendering/index.html
