object {
  margin-top: -6%;
}

time.icon {
  margin-bottom: -3em;
  margin-left: 85%;
  font-size: 1em; /* change icon size */
  display: block;
  position: relative;
  width: 6em;
  height: 4em;
  background-color: #fff;
  box-shadow: 0 1px 0 #bdbdbd, 0 2px 0 #fff, 0 3px 0 #bdbdbd, 0 4px 0 #fff, 0 5px 0 #bdbdbd, 0 0 0 1px #bdbdbd;
  overflow: hidden;
}

time.icon * {
  display: block;
  width: 100%;
  font-size: 1em;
  font-weight: bold;
  font-style: normal;
  text-align: center;
}

time.icon strong {
  position: absolute;
  top: 0;
  padding: 0.4em 0;
  color: #fff;
  background-color: #fd9f1b;
  border-bottom: 1px dashed #f37302;
  box-shadow: 0 2px 0 #fd9f1b;
}

time.icon span {
  width: 100%;
  font-size: 1.6em;
  letter-spacing: -0.05em;
  padding-top: 1.4em;
  color: #2f2f2f;
}

canvas {
  margin-left: 92%;
  margin-top: -2%;
}